
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<script src="~/Scripts/userprojects.js"></script>
 
<script >
    $(document).ready(function () {
        $("#UsersList").change(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetUserProjectsByUserId")',
                datatype: JSON,
                data: { 'userId': $("#UsersList").val() },
                success: function (data) {
                    $('#userProjectsTable tbody').empty();

                    $.each(data, function (i, item) {
                        var rows = "<tr> "
                        +
                        "<td>" + item.ProjectId + "</td>"
                        +
                        "<td>" + castDateFormat(item.StartDate) + "</td>"
                        +
                        "<td>" + dateDiff(parseJsonDate(item.StartDate), parseJsonDate(item.AssignedDate)) + "</td>"
                        +
                        "<td>" + castDateFormat(item.EndDate) + "</td>"
                        +
                        "<td>" + item.Credits + "</td>"
                        +
                        "<td>" + item.IsActive + "</td>"
                        +
                    "</tr>";
                        $('#userProjectsTable tbody').append(rows);
                    });
                },
                error: function (data) { }
            });
        });
    });

</script>

<h2 class="text-center">Coding Challenge</h2>

<table>
    <tr>
        <td>
            <h2> User Projects</h2>
            <br />
        </td>
    </tr>
    <tr>
        <td>
            Select User :
            @Html.DropDownList("UsersList")
        </td>
    </tr>
</table>
<br />
<table id="userProjectsTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Project Id</th>
            <th>Start Date</th>
            <th>Time To Start</th>
            <th>End Date</th>
            <th>Credits</th>
            <th>Status</th>        
        </tr>
    </thead>
    <tbody></tbody>
</table>
